:root {
  --text: #2b2733;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 16px/145% var(--sans);
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
}

#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}
